@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Город Саратов<br />
    <abbr title="Phone">P:</abbr>
    32-32-34
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">admin@info.shop.ru</a><br />
</address>